In [9]:
import pandas as pd
import numpy as np

In [10]:
bridge_types=('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df=pd.DataFrame(bridge_types,columns=['Bridge_types'])

In [11]:
bridge_df['Bridge_types']=bridge_df['Bridge_types'].astype('category')

In [12]:
bridge_df['Bridge_types_cat']=bridge_df['Bridge_types'].cat.codes

In [13]:
bridge_df

  Bridge_types  Bridge_types_cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

using sci-kit learn

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
bridge_types=('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df=pd.DataFrame(bridge_types,columns=['Bridge_types'])

In [16]:
labelencoder=LabelEncoder()

In [17]:
bridge_df['Bridge_types_cat']=labelencoder.fit_transform(bridge_df['Bridge_types'])

In [18]:
bridge_df

  Bridge_types  Bridge_types_cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
enc=OneHotEncoder(handle_unknown='ignore')

In [21]:
enc_df=pd.DataFrame(enc.fit_transform(bridge_df[['Bridge_types']]).toarray())

In [6]:
import pandas as pd

In [22]:
bridge_df=bridge_df.join(enc_df)
bridge_df

  Bridge_types  Bridge_types_cat    0    1    2    3    4    5    6
0         Arch                 0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1         Beam                 1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2        Truss                 6  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3   Cantilever                 3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4    Tied Arch                 5  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5   Suspension                 4  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6        Cable                 2  0.0  0.0  1.0  0.0  0.0  0.0  0.0